CHARSET1_ADDR   rcdata  'pics/flags.fnt'
DLIST_ADDR      rcasm   'asm/dlist-lang.asm'
FLAG_PL_ADDR    rcdata  'pics/flag_pl.scr'
FLAG_CZ_ADDR    rcdata  'pics/flag_cz.scr'
FLAG_EN_ADDR    rcdata  'pics/flag_en.scr'
FLAG_DE_ADDR    rcdata  'pics/flag_de.scr'
SFX_DATA_ADDR   rcasm   'data/sfx-def.asm'

LETTERS_DE      rcdata  'langs/letters-de.zx5'
LETTERS_CZ      rcdata  'langs/letters-cz.zx5'
LETTERS_PLEN    rcdata  'langs/letters.zx5'
SCL_DE          rcdata  'langs/scl-de.zx5'
SCL_CZ          rcdata  'langs/scl-cz.zx5'
SCL_EN          rcdata  'langs/scl-en.zx5'
SCL_PL          rcdata  'langs/scl-pl.zx5'
STR_DE          rcdata  'langs/str-de.zx5'
STR_CZ          rcdata  'langs/str-cz.zx5'
STR_EN          rcdata  'langs/str-en.zx5'
STR_PL          rcdata  'langs/str-pl.zx5'
TITLE_B_DE      rcdata  'langs/title-b-de.zx5'
TITLE_B_CZ      rcdata  'langs/title-b-cz.zx5'
TITLE_B_PLEN    rcdata  'langs/title-b.zx5'