;
;
SCR_TITLESHADOW_ADDR rcdata 'data/title-shadow.scr';
SCR_TITLE_ADDR rcdata 'data/title.scr';
SCR_STATUSBAR_ADDR rcdata 'data/game-footer.scr';
SCROLL_DATA_ADDR rcasm 'data/scroll.asm';
STRINGS_POINTERS_ADDR rcasm 'data/strings.asm';

; game charcter set
CHARSET1_ADDR rcdata 'data/title-b.fnt'
CHARSET2_ADDR rcdata 'data/letters.fnt';
CHARSET3_ADDR	rcdata 'data/kret-chars.fnt';
CHARSET4_ADDR rcdata 'pics/start_gameover.fnt';

; sprites
PM_DATA_ADDR rcdata 'data/sprites.obj';
LOGOS_DATA_ADDR rcdata 'data/sprites-logos.obj';

; G2F data
G2F_SCREEN rcdata 'pics/start_gameover.scr';
G2F_PMG	rcasm 'pics/start_gameover.pmg';

; song
SFX_ORG rcasm 'song/song.asm'

; assembler procedures for game
BLOCK_ASM_ADDR rcasm 'asm/block.asm';

; display lists
DLIST_TITLE_ADDR rcasm 'asm/dlist-title.asm'
DLIST_GAME_ADDR rcasm 'asm/dlist-game.asm'
DLIST_READY_ADDR rcasm 'asm/dlist-ready.asm'
DLIST_GAMEOVER_ADDR rcasm 'asm/dlist-gameover.asm'
DLIST_BESTS_ADDR rcasm 'asm/dlist-bests.asm'
DLIST_HISTORY_ADDR rcasm 'asm/dlist-history.asm'

;
RAINBOW_ADDR rcasm 'asm/rainbow-data.asm'

;
BLOCKS_DEF_ADDR rcasm 'data/blocks-def.asm';
