;
;
SCR_TITLE_ADDR        rcdata 'pics/title.scr';
SCR_STATUSBAR_ADDR    rcdata 'data/game-footer.scr';

; game charcter set
CHARSET3_ADDR         rcdata 'data/kret-chars.fnt';
CHARSET4_ADDR         rcdata 'pics/start_gameover.fnt';
CHARSET5_ADDR         rcdata 'pics/title.fnt';

; sprites
SPRITES_ADDR          rcdata 'data/sprites.obj';
LOGOS_DATA_ADDR       rcdata 'data/sprites-logos.obj';

; G2F data
G2F_SCREEN            rcdata 'pics/start_gameover.scr';
G2F_PMG	              rcasm  'pics/start_gameover.pmg';
G2F_TITLE_PMG         rcdata 'pics/title.pmg';

; GSD-logo
LOGO_ADDR             rcdata 'data/gsd-logo.obj';

; assembler procedures for game
BLOCK_ASM_ADDR        rcasm 'asm/block.asm';
BLOCKS_DEF_ADDR       rcasm 'data/blocks-def.asm';

; display lists
DLIST_TITLE_ADDR      rcasm 'asm/dlist-title.asm'
DLIST_GAME_ADDR       rcasm 'asm/dlist-game.asm'
DLIST_READY_ADDR      rcasm 'asm/dlist-ready.asm'
DLIST_GAMEOVER_ADDR   rcasm 'asm/dlist-gameover.asm'
DLIST_INTRO_ADDR      rcasm 'asm/dlist-logo.asm'
DLIST_HISTORY_ADDR    rcasm 'asm/dlist-history.asm'

;
RAINBOW_ADDR          rcasm 'asm/rainbow-data.asm'
